<link rel="stylesheet" type="text/css" href="/css/kraken.css">
<div>
	<canvas id='whiteboard' width='900' height='600'></canvas>
	<div>
		<br>
		<button id='circleButton' class='clicked'>Circle</button>
		<button id='lineButton'  >Line</button>
		<button id='squareButton'>Square</button>
		<button id='markerButton'>Marker</button>
		<button id='clear'>Clear</button>
	</div>
</div>

<script type="text/javascript" src='/socket.io/socket.io.js'></script>

<script type="text/javascript" src='/js/viewJS/index.js'></script>