<link rel="stylesheet" type="text/css" href="/css/kraken.css">
<ul class="add" id="add">
	<li><button>Add a ...</button>
		<ul>
			<li>
				<button class="addPhase">Add Task</button>
			</li>
			<li>
				<button class="addPhase">Add Phase</button>
			</li>
		</ul>
	</li>
</ul>

