/*
	Please keep eveyrthing in alphabetical order,
	with one space between items.
*/


#add {
	list-style-type: none;
}

#add ul {
	list-style-type: none;
	display: none;
}

#add li:hover > ul {
	display: block;
}

button.clicked {
	background-color: grey;
}

#whiteboard {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}