/*
	Please keep eveyrthing in alphabetical order,
	with one space between items.
*/

button.clicked {
	background-color: grey;
}

#whiteboard {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}